<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>CSS3 Flex Box</string>
	<key>ordering</key>
	<array>
		<string>140125ED-B794-47CC-9B6C-D07AF345B3D8</string>
		<string>C74D2A9D-AAE3-43DB-A924-C7F7E8E5A47F</string>
		<string>8C1DE6B1-AF3C-4BD7-85A1-3D9FA6292D8D</string>
		<string>5AA1066C-6ADA-4868-841C-556EE2DE40E1</string>
		<string>F640BDDD-5D8A-4553-BDF3-B9A3189280F3</string>
		<string>8DE10614-DFB1-41D3-8CF6-68A690068FCB</string>
		<string>E751A7F2-ACBF-497F-8274-4FF3037CF17B</string>
		<string>8FC3D1A7-AABC-4298-9695-567D18B6CD3E</string>
		<string>D7CF752E-C49B-420E-A3D7-89FB05E63902</string>
	</array>
	<key>uuid</key>
	<string>1D3C3F2D-1A06-42C6-8EB6-94A214A17003</string>
</dict>
</plist>
